.htmlPage .img{
	position: absolute;
	width:1920px;
	height:1080px;
	top:0px;
	left:0px;
	opacity:0;
}
.htmlPage .img:nth-child(1){
	background:url("../img/teacher/img0.png");
}
.htmlPage .img:nth-child(2){
	background:url("../img/teacher/img1.png");
}
.htmlPage .img:nth-child(3){
	background:url("../img/teacher/img2.png");
}