.htmlPage .img{
	position: absolute;
	width:1920px;
	height:1080px;
	top:0px;
	left:0px;
	opacity:0;
}
.htmlPage .img:nth-child(1){
	background:url("../img/puzzle/img0.png");
}
.htmlPage .img:nth-child(2){
	background:url("../img/puzzle/img1.png");
}
.htmlPage .img:nth-child(3){
	background:url("../img/puzzle/img2.png");
}

.htmlPage .puzzles{
	position: absolute;
	top:1080px;
	opacity:0;
}
.htmlPage .puzzles .puzzlePage{
	position: absolute;
	width:960px;
	height:540px;
	
	top:0px;
	background:url("../img/puzzle/question.png");
}

.htmlPage .puzzles button{
	text-indent: -9999px;
}

/**/
.htmlPage .puzzles .page0{
	background:url("../img/puzzle/puzzlebg.jpg");
}

.htmlPage .puzzles .page0 .start{
	position: absolute;
	top:640px;
	left:50%;
	transform: translateX(-50%);
	width:200px;
	height:80px;
	background:url("../img/puzzle/qstart.png");
}
.htmlPage .puzzles .page0 .start:hover{
	background-position-y:-80px;
}

/*question*/
.htmlPage .puzzles .puzzle.puzzlePage .no{
	position: absolute;
	font-size: 100pt;
	font-weight: 600;
	
	width:300px;
	/*
	height:130px;
	*/

	top:150px;
	left:130px;
	/*
	background:url("../img/puzzle/qno.png");
	text-indent: -9999px;
	*/

	text-align: right;
}
/*
.htmlPage .puzzles .page1 .no{background-position-x:0px;}
.htmlPage .puzzles .page2 .no{background-position-x:-250px;}
.htmlPage .puzzles .page3 .no{background-position-x:-500px;}
.htmlPage .puzzles .page4 .no{background-position-x:-750px;}
.htmlPage .puzzles .page5 .no{background-position-x:-1000px;}
*/

.htmlPage .puzzles .puzzle .question{
	position: absolute;
	width:1100px;
	height:160px;
	top: 40px;
	left: 600px;
	font-size: 26pt;
	color:#2c73cb;
	display: flex;
  align-items: flex-end;
	justify-content:flex-start;
  word-break:keep-all;
}
.qtxt{
	text-align: center;
	font-family: 'darakbang';
	font-size: 70px;
	font-style: normal;
	font-weight: bold;
	line-height: 84px;
}
.htmlPage .puzzles .puzzle .red{
	color:#007bbd;
	font-weight: 600;
}

/*sample*/
.htmlPage .puzzles .puzzle .sample{
	position: absolute;
	top:280px;
	left:450px;
	
	width:1050px;
	height:80px;
	
	background-color:transparent;
	border: 2px solid #ccc;
	border-radius: 20px;
	padding: 20px;
	
	font-size: 20pt;
	color:#000;
}

.htmlPage .puzzles .puzzle .sample.imgsample{
	position: absolute;
	top:210px;
	left:1300px;
	
	width:500px;
	height:330px;
	
	background-color:transparent;
	border: 2px solid #ccc;
	border-radius: 0px;
	padding: 20px;

	text-align: center;
}

.htmlPage .puzzles .puzzle .sample .scroll{
	position: absolute;
	width:1050px;
	height:80px;
	text-align: center;
}

/*btn*/
.htmlPage .btns{
	position: absolute;
	top:320px;
	left:450px;
	
	font-size: 28pt;
}

.htmlPage .btns button{
	text-align: left;
	text-indent:0px;
}


.htmlPage .btns.samplebtn{
	top:410px;
}
.htmlPage .btns .btn{
	margin: 15px 0px;
	/*width:1090px;*/
	cursor: pointer;
	
	display: flex;
  	align-items: top;
}
.htmlPage .btns .btn .blit{
	/*position: absolute;*/
	display: inline-block;
	width:45px;
	height:45px;
	background-color: #333333;
	
	border-radius:45px;
	text-align: center;
	color:#fff;
	border: 2px solid #000;
	
	font-size: 22pt;
	margin-right: 20px;
}
.htmlPage .btns .btn .txt{
	/*
	position: relative;
    display:inline;
	top:0px;
	left:30px;
	
	left:50px;
	*/
	padding:4px 0px 0px 0px;
	width:1300px;
	color:#000;
	word-break: keep-all;
	
	font-size: 22pt;
}

.htmlPage .btns .oxbtn0{
	position: absolute;
	width:290px;
	height:370px;
	
	top:0px;
	left:150px;
	background:url("../img/puzzle/qox.png");
}
.htmlPage .btns .oxbtn1{
	position: absolute;
	width:290px;
	height:370px;
	
	top:0px;
	left:570px;
	background:url("../img/puzzle/qox.png");
	background-position-x:-290px;
}

.htmlPage .inputdiv{
	position: absolute;
}
.htmlPage .inputfield{
	font-size: 20pt;
}
/*check*/
.htmlPage .btns .btn.check{
	color:#000;
}
.htmlPage .btns .check .blit{
	color:#fff;
	background-color:#037abd;
	border: 2px solid #037abd;
}

/*ok*/
.htmlPage .btns .okview .blit{
	color:#000;
	background-color:transparent;
	border: 2px solid #ff0000;
}
.htmlPage .btns .oxbtn0.check{
	background-position-y:-370px;
}
.htmlPage .btns .oxbtn1.check{
	background-position-y:-370px;
}
/*ok*/
.htmlPage .ok{
	position: absolute;
	width:154px;
	height:65px;
	
	bottom:360px;
	right:300px;
	background:url("../img/puzzle/qok.png");
}
.htmlPage .ok:hover{
	background-position-y:-65px;
}

/*feed*/
.htmlPage .puzzles .puzzle .feed0{
	position: absolute;
	width:500px;
	height:500px;
	z-index: 1;
	top:126px;
	left:710px;
	background:url("../img/puzzle/qfeed0.png");
	display: none;
}

/*hint*/
.htmlPage .block{
	position: absolute;
	width:1920px;
	height:1080px;
	
	top:0px;
	left:0px;
	
	display: none;
}

.htmlPage .puzzles .hint{
	position: absolute;
	width:1920px;
	height:1080px;
	z-index: 2;
	top:0px;
	left:0px;
	
	background:url("../img/puzzle/qinfo.png");
	display: none;
}

.htmlPage .puzzles .hint .right{
	position: absolute;
	bottom:130px;
	left:203px;
	
	width:258px;
	font-size: 40pt;
	font-weight: 400;
	text-align: center;
    color:#fff

}
.htmlPage .puzzles .hint .infocon{
	position: absolute;
	bottom: 241px;
	left: 340px;
	width: 800px;
	font-size: 25pt;
	color: #037abd;
	font-weight: 600;

	
}

.htmlPage .puzzles .puzzle .infocon .scroll{
	position: absolute;
	width:1000px;
	height:120px;
	word-break: keep-all;
}

.htmlPage .puzzles .hint .next{
	display: none;
	position: absolute;
	width:180px;
	height:60px;
	
	bottom:180px;
	right:130px;
	
	background:url("../img/puzzle/qnext.png");
	background-position-y:0px;
}

.htmlPage .puzzles .hint .next:hover{
	background-position-y:-60px;
}

.htmlPage .puzzles .hint .result{
	position: absolute;
	width:180px;
	height:60px;
	
	bottom:160px;
	right:220px;
	
	background:url("../img/puzzle/qnext.png");
	background-position-x:-180px;
}

.htmlPage .puzzles .hint button:hover{
	background-position-y:-60px;
}

/*result*/
.htmlPage .puzzles .resultPage{
	position: absolute;
	width:1920px;
	height:1080px;
	
	top:0px;
	background:url("../img/puzzle/result.png");
}

.htmlPage .resultPage .resultNo{
	position: absolute;
	top:200px;
	left:615px;
}
.htmlPage .resultPage .resultNo .no{
	position: absolute;
	top:130px;
	width:250px;
	height:240px;
	background:url("../img/puzzle/qreturnno.png");
	
	text-indent: -9999px;
}
.htmlPage .resultPage .resultNo .no:nth-child(1){
	left:250px;
	background-position-x:0px;
}
.htmlPage .resultPage .resultNo .no:nth-child(2){
	left:500px;
	background-position-x:-250px;
}
.htmlPage .resultPage .resultNo .no:nth-child(3){
	left:750px;
	background-position-x:-500px;
}

.htmlPage .resultPage .resultFeed{
	position: absolute;
	top:350px;
	left:615px;
}

.htmlPage .resultPage .resultFeed .feed{
	position: absolute;
	width:375px;
	height:240px;
	background:url("../img/puzzle/qresult.png");
}

.htmlPage .resultPage .resultFeed .feed:nth-child(1){
	left:131px;
}
.htmlPage .resultPage .resultFeed .feed:nth-child(2){
	left:390px;
}
.htmlPage .resultPage .resultFeed .feed:nth-child(3){
	left:643px;
}
	
.htmlPage .resultPage .rtxt{
	position: absolute;
	top:620px;
	left:932px;
	color:#fff;
	font-size: 30pt;
}
.htmlPage .resultPage .retry{
	position: absolute;
	width:240px;
	height:80px;
	
	top:640px;
	left:50%;
	transform: translateX(-50%);
	background:url("../img/puzzle/qretry.png");
}

.htmlPage .resultPage .retry:hover{
	background-position-y:80px;
}

.htmlPage .resultPage.feedNone .rtxt{
	top:420px;
}
.htmlPage .resultPage.feedNone .retry{
	top:576px;
}

/* 낱말퀴즈 관련 css 추가 */

table {
	margin-left: 9%;
	margin-top: 13%;
  border-collapse: collapse;
}
input{
  width:80px;
  height:80px;
}
td {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}
.gray {
  background-color: gray;
  pointer-events: none;
}
.white {
  background-color: white;
  text-align: center;
  font-size: 36px;
	line-height: 80px;
	font-weight: 600;
	color:#343434;
}
.connerNum{
	position: relative;

}
.conum{
	position: absolute;
	top: 2px;
	left: 6px;
	display: block;
	pointer-events: none;
	color: gray;
	font-size: 14px;
}
.explanation{
	pointer-events: none;
	width: 850px;
	font-size: 26px;
	color: #181818;
	font-family: 'darakbang';
	position: absolute;
	line-height: 41px;
	top: 22.2%;
	right: 6.7%;
}
.resultbtn{
	width: 110px;
	height: 58px;
	border-radius: 40px;
	background: #7e7e7e;
	position: absolute;
	top: 83.2%;
	right: 45.2%;
	transition: 0.3s;
}

.resultbtnback{
	position: relative;
}
.whitecircle{
	position: absolute;
	top:6px;
	left:8px;
	width:46px;
	height:46px;
	border-radius: 50%;
	background: #bbbbbb;
	cursor: pointer;
	pointer-events: none;
	transition: 0.4s;
}
.blackline{
	position: absolute;
	top: -20px;
	left: 0px;
	width: 800px;
	height: 3px;
	background: #141414;
	pointer-events: none;
}

.resultext{
	text-align: left;
	pointer-events: none;
	font-size: 24px;
	font-family: 'darakbang';
	position: absolute;
	top: 84.9%;
	left: 55.4%;
	transition: 0.4s;
}