.htmlPage .img{
	position: absolute;
	width:1920px;
	height:1080px;
	top:0px;
	left:0px;
	opacity:0;
}
.htmlPage .img:nth-child(1){
	background:url("../img/quiz/img0.png");
}
.htmlPage .img:nth-child(2){
	background:url("../img/quiz/img1.png");
}
.htmlPage .img:nth-child(3){
	background:url("../img/quiz/img2.png");
}

.htmlPage .quizs{
	position: absolute;
	top:1080px;
	opacity:0;
}
.htmlPage .quizs .quizPage{
	position: absolute;
	width:960px;
	height:540px;
	
	top:0px;
	background:url("../img/quiz/question.png");
}

.htmlPage .quizs button{
	text-indent: -9999px;
}

/**/
.htmlPage .quizs .page0 .start{
	position: absolute;
	top:696px;
	left:485px;
	
	width:200px;
	height:80px;
	background:url("../img/quiz/qstart.png");
}
.htmlPage .quizs .page0 .start:hover{
	background-position-y:-80px;
}

/*question*/
.htmlPage .quizs .quiz.quizPage .no{
	position: absolute;
	font-size: 100pt;
	font-weight: 600;
	
	width:300px;
	/*
	height:130px;
	*/

	top:150px;
	left:130px;
	/*
	background:url("../img/quiz/qno.png");
	text-indent: -9999px;
	*/

	text-align: right;
}
/*
.htmlPage .quizs .page1 .no{background-position-x:0px;}
.htmlPage .quizs .page2 .no{background-position-x:-250px;}
.htmlPage .quizs .page3 .no{background-position-x:-500px;}
.htmlPage .quizs .page4 .no{background-position-x:-750px;}
.htmlPage .quizs .page5 .no{background-position-x:-1000px;}
*/

.htmlPage .quizs .quiz .question{
	position: absolute;
	width:1400px;
	height:160px;
	
	top:119px;
	left:460px;
	
	font-size: 26pt;
	color:#000;
	
	display: flex;
    align-items: flex-end;
	justify-content:flex-start;
    text-align: left;
    
    word-break:keep-all;
}
.htmlPage .quizs .quiz .red{
	color:#007bbd;
	font-weight: 600;
}

/*sample*/
.htmlPage .quizs .quiz .sample{
	position: absolute;
	top:280px;
	left:450px;
	
	width:1050px;
	height:80px;
	
	background-color:transparent;
	border: 2px solid #ccc;
	border-radius: 20px;
	padding: 20px;
	
	font-size: 20pt;
	color:#000;
}

.htmlPage .quizs .quiz .sample.imgsample{
	position: absolute;
	top:210px;
	left:1300px;
	
	width:500px;
	height:330px;
	
	background-color:transparent;
	border: 2px solid #ccc;
	border-radius: 0px;
	padding: 20px;

	text-align: center;
}

.htmlPage .quizs .quiz .sample .scroll{
	position: absolute;
	width:1050px;
	height:80px;
	text-align: center;
}

/*btn*/
.htmlPage .btns{
	position: absolute;
	top:320px;
	left:450px;
	
	font-size: 28pt;
}

.htmlPage .btns button{
	text-align: left;
	text-indent:0px;
}


.htmlPage .btns.samplebtn{
	top:410px;
}
.htmlPage .btns .btn{
	margin: 15px 0px;
	/*width:1090px;*/
	cursor: pointer;
	
	display: flex;
  	align-items: top;
}
.htmlPage .btns .btn .blit{
	/*position: absolute;*/
	display: inline-block;
	width:45px;
	height:45px;
	background-color: #333333;
	
	border-radius:45px;
	text-align: center;
	color:#fff;
	border: 2px solid #000;
	
	font-size: 22pt;
	margin-right: 20px;
}
.htmlPage .btns .btn .txt{
	/*
	position: relative;
    display:inline;
	top:0px;
	left:30px;
	
	left:50px;
	*/
	padding:4px 0px 0px 0px;
	width:1300px;
	color:#000;
	word-break: keep-all;
	
	font-size: 22pt;
}

.htmlPage .btns .oxbtn0{
	position: absolute;
	width:290px;
	height:370px;
	
	top:0px;
	left:150px;
	background:url("../img/quiz/qox.png");
}
.htmlPage .btns .oxbtn1{
	position: absolute;
	width:290px;
	height:370px;
	
	top:0px;
	left:570px;
	background:url("../img/quiz/qox.png");
	background-position-x:-290px;
}

.htmlPage .inputdiv{
	position: absolute;
}
.htmlPage .inputfield{
	font-size: 20pt;
}
/*check*/
.htmlPage .btns .btn.check{
	color:#000;
}
.htmlPage .btns .check .blit{
	color:#fff;
	background-color:#037abd;
	border: 2px solid #037abd;
}

/*ok*/
.htmlPage .btns .okview .blit{
	color:#000;
	background-color:transparent;
	border: 2px solid #ff0000;
}
.htmlPage .btns .oxbtn0.check{
	background-position-y:-370px;
}
.htmlPage .btns .oxbtn1.check{
	background-position-y:-370px;
}
/*ok*/
.htmlPage .ok{
	position: absolute;
	width:154px;
	height:65px;
	
	bottom:360px;
	right:300px;
	background:url("../img/quiz/qok.png");
}
.htmlPage .ok:hover{
	background-position-y:-65px;
}

/*feed*/
.htmlPage .quizs .quiz .feed0{
	position: absolute;
	width:200px;
	height:200px;
	
	top:130px;
	left:220px;
	background:url("../img/quiz/qfeed0.png");
	display: none;
}

/*hint*/
.htmlPage .block{
	position: absolute;
	width:1920px;
	height:1080px;
	
	top:0px;
	left:0px;
	
	display: none;
}

.htmlPage .quizs .hint{
	position: absolute;
	width:1920px;
	height:1080px;
	
	top:0px;
	left:0px;
	
	background:url("../img/quiz/qinfo.png");
	display: none;
}

.htmlPage .quizs .hint .right{
	position: absolute;
	bottom:130px;
	left:203px;
	
	width:258px;
	font-size: 40pt;
	font-weight: 400;
	text-align: center;
    color:#fff

}
.htmlPage .quizs .hint .infocon{
	position: absolute;
	bottom:216px;
	left:490px;
	width:800px;
	font-size: 25pt;
	color:#fff;

	
}

.htmlPage .quizs .quiz .infocon .scroll{
	position: absolute;
	width:1000px;
	height:120px;
	word-break: keep-all;
}

.htmlPage .quizs .hint .next{
	position: absolute;
	width:180px;
	height:60px;
	
	bottom:200px;
	right:130px;
	
	background:url("../img/quiz/qnext.png");
}

.htmlPage .quizs .hint .result{
	position: absolute;
	width:180px;
	height:60px;
	
	bottom:160px;
	right:220px;
	
	background:url("../img/quiz/qnext.png");
	background-position-x:-180px;
}

.htmlPage .quizs .hint button:hover{
	background-position-y:-60px;
}

/*result*/
.htmlPage .quizs .resultPage{
	position: absolute;
	width:1920px;
	height:1080px;
	
	top:0px;
	background:url("../img/quiz/result.png");
}

.htmlPage .resultPage .resultNo{
	position: absolute;
	top:200px;
	left:615px;
}
.htmlPage .resultPage .resultNo .no{
	position: absolute;
	top:130px;
	width:250px;
	height:240px;
	background:url("../img/quiz/qreturnno.png");
	
	text-indent: -9999px;
}
.htmlPage .resultPage .resultNo .no:nth-child(1){
	left:250px;
	background-position-x:0px;
}
.htmlPage .resultPage .resultNo .no:nth-child(2){
	left:500px;
	background-position-x:-250px;
}
.htmlPage .resultPage .resultNo .no:nth-child(3){
	left:750px;
	background-position-x:-500px;
}

.htmlPage .resultPage .resultFeed{
	position: absolute;
	top:350px;
	left:615px;
}

.htmlPage .resultPage .resultFeed .feed{
	position: absolute;
	width:375px;
	height:240px;
	background:url("../img/quiz/qresult.png");
}

.htmlPage .resultPage .resultFeed .feed:nth-child(1){
	left:131px;
}
.htmlPage .resultPage .resultFeed .feed:nth-child(2){
	left:390px;
}
.htmlPage .resultPage .resultFeed .feed:nth-child(3){
	left:643px;
}
	
.htmlPage .resultPage .rtxt{
	position: absolute;
	top:620px;
	left:932px;
	color:#fff;
	font-size: 30pt;
}
.htmlPage .resultPage .retry{
	position: absolute;
	width:240px;
	height:80px;
	
	top:706px;
	left:1049px;
	background:url("../img/quiz/qretry.png");
}

.htmlPage .resultPage .retry:hover{
	background-position-y:80px;
}

.htmlPage .resultPage.feedNone .rtxt{
	top:420px;
}
.htmlPage .resultPage.feedNone .retry{
	top:576px;
}